.profilePictureWrapper {
  background-color: rgb(220, 220, 220);
  display: flex;
  padding: 10px 0 0 40px;
  height: 120px;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 1px 4px 24px 1px rgba(66, 68, 90, 1);
}

.profilePictureCont {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
}

.profilePictureCont input {
  display: none;
}

.profilePicture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
}

.label {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  color: transparent;
}

.label:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.glyphiconCamera {
  margin-right: 5px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 30px;
  gap: 5px;
  width: auto;
  height: 100%;
  font-size: 1.2em;
}

.daysLeft {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 40px;
}

.daysLeft span {
  color: brown;
  font-size: 1.6em;
}
