.profilePictureWrapper {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 90%;
  margin: 5%;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 1px 4px 24px 1px rgba(66, 68, 90, 1);
}

.profilePictureCont {
  display: flex;
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  padding: 2%;
}

.profilePictureCont input {
  display: none;
}

.profilePicture {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
}

.label {
  position: absolute;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  color: transparent;
}

.label:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.changeImage {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

.glyphicon-camera {
  margin-right: 5px;
}

.userName {
  font-size: 1.7vw;
}

.userDepartment {
  font-size: 1.5vw;
}

.userDays {
  font-size: 1.3vw;
  padding-bottom: 3%;
}
