.userBusinessCard {
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);

  width: 95%;
  height: 130px;
  margin: 2% 0 0 0;

  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  grid-template-rows: 100%;
  grid-template-areas: "profilePicture userDetails userStatistics daysOff";

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.803);
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);
}
.userBusinessCard .profilePicture {
  height: 100%;
  width: 100%;
  margin: 5px;
  grid-area: profilePicture;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBusinessCard .profilePictureImg {
  height: 100%;
  width: auto;
  border-radius: 100px;
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);
}

.userBusinessCard .userDetails {
  grid-area: userDetails;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userBusinessCard .userStatistics {
  grid-area: userStatistics;
  display: flex;
  flex-direction: column;
}

.userBusinessCard .daysOff {
  grid-area: daysOff;
  display: flex;
  flex-direction: column;
}

/* .userBusinessCard .label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  color: transparent;
}

.userBusinessCard .label:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.glyphiconCamera {
  margin-right: 5px;
}

.userDetails {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.daysLeft {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  position: absolute;
  right: 3%;
  top: 15%;
  right: 3%;
  top: 15%;
}

.daysLeft span {
  color: brown;
  font-size: 1.6em;
}

.addButtonContainer {
  position: absolute;
  display: flex;
  height: 30%;
  width: 5%;
  border-radius: 5px;
  right: 3%;
  bottom: 15%;
}

.addButton {
  width: 100%;
  height: 100%;
  background-color: #3457d5d9;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  border: none;
}

.addButton:hover {
  cursor: pointer;
  background-color: #3457d5a7;
  transition: 0.2s;
}

.addButton:active {
  transform: scale(0.99);
  background-color: #3457d5d9;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} */
