.adminPanel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  background: url("../../images/bgblue2.png");
}

.adminPanel h1,
.adminPanel h2 {
  color: #333;
}

.adminPanel ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.adminPanel li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userDetails {
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0095ca;
  border-radius: 3px;
  height: 40px;
}

.navbar button {
  background-color: #0095ca;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100px;
  height: 80%;
}

.navbar button:hover {
  background-color: #ffffff23;
  transition: 0.3s;
  scale: 0.95;
}

.adminPanelBtn:active {
  background-color: #0095ca;
  scale: 0.95;
  transition: 0.3s;
}

.adminPanel form {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 600px;
}

.adminPanel input[type="checkbox"] {
  margin-right: 5px;
}

.adminPanel label {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.error {
  color: red;
  margin-top: 10px;
}

.adminPanelSpan {
  font-size: 3vmin;
  color: white;
}
