.adminPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background: url("../../images/bgblue.png"); */
  background-color: #4caf50;
}

.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.adminPanel h1,
h2 {
  color: #333;
}

.adminPanel ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.adminPanel li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userDetails {
  margin-top: 10px;
}

.adminPanel button {
  padding: 5px 10px;
  background-color: #4f79e2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.adminPanel button:hover {
  background-color: #3457d5;
  scale: 1.1;
  transition: 0.3s;
}

.adminPanel form {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 600px;
}

.adminPanel input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.adminPanel input[type="checkbox"] {
  margin-right: 5px;
}

.adminPanel label {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.error {
  color: red;
  margin-top: 10px;
}

.adminPanel button[type="submit"] {
  background-color: #4caf50;
}

.adminPanel button[type="submit"]:hover {
  background-color: #45a049;
}
