.requestWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
  background: url("../../images/lps7.png");
  background-color: white;
  background-repeat: no-repeat;
  z-index: 10000;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  justify-content: center;
  box-shadow: 0px 10px 50px 10px rgba(160, 160, 160, 1);
}

.requestH1 {
  height: 15%;
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  padding: 0;
  font-size: 4vmin;
  font-weight: 500;
}

.requestContentCont {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.868);
  border-radius: 50px;
}

.requestInformationCont {
  position: relative;
  width: 90%;
  height: 20%;
  align-self: center;
}

.requestInformation {
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: calc(0.6vw + 0.45vh);
}

.requestDataCont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin-top: 2%;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.requestEntryContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
  align-self: flex-start;
  padding: 0;
}

.requestEntryLabel {
  display: flex;
  height: 7%;
  width: 70%;
  align-self: center;
  justify-content: space-between;
}

.fieldName {
  width: 40%;
  align-self: center;
  font-size: 1vw;
}

.inputField {
  width: 60%;
  height: 80%;
  align-self: center;
}

.ifDemandLeave {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.requestButtons {
  display: flex;
  position: absolute;
  height: 10%;
  width: 100%;
  align-self: center;
  justify-content: center;
  bottom: 0;
}

.saveButton {
  width: 15%;
  height: 60%;
  background-color: rgb(84, 169, 84);
  border-radius: 5px;
  color: white;
  border: none;
  align-self: center;
  margin-left: 5%;
}

.saveButton:hover {
  cursor: pointer;
  background-color: rgb(115, 184, 115);
  transition: 0.2s;
}

.saveButton:active {
  transform: scale(0.98) translateY(0.7px);
  background-color: rgb(84, 169, 84);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cancelButton {
  width: 15%;
  height: 60%;
  background-color: rgb(213, 69, 69);
  border-radius: 5px;
  color: white;
  border: none;
  align-self: center;
  margin-right: 5%;
  transition: 0.2s;
}

.cancelButton:hover {
  cursor: pointer;
  background-color: rgb(212, 102, 102);
  transition: 0.2s;
}

.cancelButton:active {
  transform: scale(0.98) translateY(0.7px);
  background-color: rgb(213, 69, 69);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
