@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&family=Preahvihear&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
