.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "navbar"
    "content";
}

.header {
  grid-area: navbar;
}

.content {
  grid-area: content;
}
