.userBusinessCard {
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);

  width: 95%;
  height: 220px;
  margin: 1% 0 0 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  grid-template-rows: 100%;
  grid-template-areas: "profilePicture userDetails daysOffInventory reqStatusStats reqTypeStats";
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);
}
.userBusinessCard .profilePicture {
  height: 100%;
  width: 100%;
  padding: 10px;
  grid-area: profilePicture;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBusinessCard .profilePictureImg {
  height: 100%;
  width: auto;
  border-radius: 100px;
  box-shadow: 0px 3px 8px 2px rgba(160, 160, 160, 1);
}

.userBusinessCard .userDetails {
  grid-area: userDetails;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userBusinessCard .userStatistics {
  grid-area: userStatistics;
  display: flex;
  flex-direction: column;
}

.userBusinessCard .daysOffInventory {
  grid-area: daysOffInventory;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  grid-template-areas:
    "daysOffTitle"
    "daysOff"
    "onDemandTitle"
    "onDemand";
  justify-items: center;
  align-items: center;
}

.userBusinessCard .daysOffTitle {
  grid-area: daysOffTitle;
  align-self: end;
  font-size: medium;
  font-weight: bold;
}

.userBusinessCard .onDemandTitle {
  grid-area: onDemandTitle;
  align-self: end;
  font-size: medium;
  font-weight: bold;
}

.userBusinessCard .daysOff {
  grid-area: daysOff;
  font-size: x-large;
  font-weight: bold;
}

.userBusinessCard .onDemand {
  grid-area: onDemand;
  font-size: x-large;
}

.userBusinessCard .userDetails h2,
h3 {
  font-weight: bold;
}

.userBusinessCard .daysOffInventory .daysOff span {
  font-size: x-large;
}

.userBusinessCard .daysOffInventory .onDemand span {
  font-size: large;
}

.userBusinessCard .reqStatusStats {
  height: 100%;
  max-width: 100%;
  padding: 5px 50px;
}

.userBusinessCard .reqStatusStatsLabel {
  grid-area: reqStatusStatsLabel;
  justify-self: end;
}

.userBusinessCard .reqStatusStatsChart {
  grid-area: reqStatusStatsChart;
  height: 100%;
  max-width: 100%;
}

.userBusinessCard .reqTypeStats {
  height: 100%;
  max-width: 100%;
  padding: 5px 5px;
}

.userBusinessCard .reqTypeStatsLabel {
  grid-area: reqTypeStatsLabel;
  justify-self: end;
}

.userBusinessCard .reqTypeStatsChart {
  grid-area: reqTypeStatsChart;
  height: 100%;
  width: 100%;
}
