.userHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userDetails {
  margin-top: 10px;
}

.tableWrapper {
  margin: 20px;
  width: 100%;
}

.addUserBtn {
  padding: 5px 10px;
  background-color: #4f79e2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.addUserBtn:hover {
  background-color: #3457d5;
  scale: 1.1;
  transition: 0.3s;
}
