/* NavBar.module.css */

.navbarUser {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 200, 62);
}

.navbarUser div {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.navbarUser a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 2vmin;
}

.navbarUser a:hover {
  background-color: #ffffff23;
  scale: 1.1;
  transition: 0.3s;
}

.navbarUser a:active {
  background-color: rgb(255, 200, 62);
  scale: 0.95;
  transition: 0.3s;
}

.navbarUser .menuSpan {
  font-size: 3vmin;
  color: white;
  display: flex;
  align-self: center;
}

/* SUPERVISOR */

.navbarSupervisor {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 85, 85);
}

.navbarSupervisor div {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.navbarSupervisor a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 2vmin;
}

.navbarSupervisor a:hover {
  background-color: #ffffff23;
  scale: 1.1;
  transition: 0.3s;
}

.navbarSupervisor a:active {
  background-color: rgb(255, 200, 62);
  scale: 0.95;
  transition: 0.3s;
}

.navbarSupervisor .menuSpan {
  font-size: 3vmin;
  color: white;
  display: flex;
  align-self: center;
}

/* ADMIN */

.navbarAdmin {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0095ca;
}

.navbarAdmin div {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.navbarAdmin a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 2vmin;
}

.navbarAdmin a:hover {
  background-color: #ffffff23;
  scale: 1.1;
  transition: 0.3s;
}

.navbarAdmin a:active {
  background-color: #0095ca;
  scale: 0.95;
  transition: 0.3s;
}

.navbarAdmin .menuSpan {
  font-size: 3vmin;
  color: white;
  display: flex;
  align-self: center;
}

/* ALL ROLES */

.navbarAllRoles {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0095ca;
}

.navbarAllRoles div {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.navbarAllRoles a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 2vmin;
}

.navbarAllRoles a:hover {
  background-color: #ffffff23;
  scale: 1.1;
  transition: 0.3s;
}

.navbarAllRoles a:active {
  background-color: #0095ca;
  scale: 0.95;
  transition: 0.3s;
}

.navbarAllRoles .menuSpan {
  font-size: 3vmin;
  color: white;
  display: flex;
  align-self: center;
}
